@font-face {
    font-family: 'Rajdhani';
    src: url(../Fonts/Rajdhani/Rajdhani-Medium.ttf);

}
@font-face {
    font-family: 'Space Grotesk';
    src: url(../Fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf);
}